* {
  margin: 0px auto;
}

body {
  background-color: lightgrey;
}

#main {
  width: 95%;
  background-color: white;
  height: 400px;
}

#header {
  background-color: crimson;
  height: 100px;
  color: white;
}

#header h1 {
  padding: 30px 60px;
}

#menu {
  background-color: darkgray;
}

#menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
}

#menu ul li a:hover {
  background-color: black;
  color: white;
}

#section{
  display: flex;
}

#sidebar{
  width: 20%;
  background-color:burlywood;
  height: 300px;
}

#content{
  background-color: gold;
  height: 400px;
  width: 80%;
}


#footer{
  padding-top:20px;
  height: 50px;
  background-color: violet;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
